/* Note: This example only works with Windows Insider Preview Builds 16237+ or the Fall Creators Update. */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  display: grid;

  grid-template-areas:
      "header header"
      "nav nav"
      "section aside"
      "footer footer";

  grid-template-rows: .3fr .25fr 3fr .4fr;
  grid-template-columns: 1fr 18%;
  /*grid-gap: 0;*/
  height: 100vh;
  /*   margin: 10px;   */
}

header {
  /*background: #707070;*/
  grid-area: header;
}

nav {
  /*background: #C9BFBF;*/
  grid-area: nav;
}

section {
  /*background: #ABABAB;*/
  grid-area: section;
}

aside {
  /*background: #C9C9C9;*/
  grid-area: aside;
}

footer {
  /*background: #707070;*/
  grid-area: footer;
}

header,
nav,
section,
aside,
footer {
  padding: 5px 30px;
}

.bord {
  border: 1px solid;
  /*background-color: #fff;*/
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 35px;
}

.title {
  font-size: .85em;
  width: 100%;
  text-align: center;
}