:root {
  --first-color: #111111;
  /*   --first-color-alt: #F17910; */
  --first-color-alt: #222222;

  --second-color: #7CD638;
  --second-color-alt: #5BB715;
  --accent-color: #F88A2A;
  --accent-color-alt: #F17910;
  --body-color: #222222;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', Roboto, sans-serif;
  display: grid;

  grid-template-areas:
      "header header"
      "nav nav"
      "section aside"
      "footer footer";

  grid-template-rows: .3fr .25fr 3fr .4fr;
  grid-template-columns: 1fr 18%;
  /*grid-gap: 0;*/
  height: 100vh;
  /*   margin: 10px;   */
}

header {
  /*background: #707070;*/
  grid-area: header;
}

nav {
  /*background: #C9BFBF;*/
  grid-area: nav;
}

section {
  /*background: #ABABAB;*/
  grid-area: section;
}

aside {
  /*background: #C9C9C9;*/
  grid-area: aside;
}

footer {
  /*background: #707070;*/
  grid-area: footer;
}

header,
nav,
section,
aside,
footer {
  padding: 5px 30px;
}

.bord {
  border: 1px solid;
  /*background-color: #fff;*/
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 35px;
}

.title {
  font-size: .85em;
  width: 100%;
  text-align: center;
}

nav .main-menu {
  text-align: center;
  margin: 10px auto;
  font-weight: 600;
  font-size: .95rem;
  /*text-transform: uppercase;*/
}

.main-menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.link {
  border: 2px solid var(--first-color-alt);
  display: inline-block;
  padding: 14px 25px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  transition: .2s ease;
}

.link:hover {
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
}

.link:active {
  transform: scale3d(.97, .97, .97);
}

.dev-2 {
  background-color: #fff;
  border: 2px solid var(--first-color-alt);
}

.type-two {
  background-color: var(--first-color-alt);
}

.type-three {
  color: var(--first-color-alt);
  /*   font-weight: 600; */
}

.type-three:hover {
  color: #fff;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

article {
  margin-bottom: 25px;
}

[class^="text-"] {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  text-align: justify;
  text-transform: uppercase;
}

[class$="two"] {
  font-family: Georgia, sans-serif;
  font-size: 18px;
  text-decoration: underline;
}

[class$="third"] {
  font-family: 'Courier New', sans-serif;
  font-size: 18px;
  text-transform: lowercase;
}